AIQUIZ_DB_USER=ADMIN
AIQUIZ_DB_PASSWORD=change-me
AIQUIZ_DB_DSN=(description=(retry_count=20)(retry_delay=3)(address=(protocol=tcps)(port=1521)(host=aiquizdb.adb.us-chicago-1.oraclecloud.com))(connect_data=(service_name=example_aiquizdb_tp.adb.oraclecloud.com))(security=(ssl_server_dn_match=no)))

